#navbar-main {
  background: var(--gray-200);

  width: 100%;
}

#navbar-main > nav {
  max-width: 1200px;
  width: 100%;

  margin: 0 auto;
  padding: 1rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  width: 100%;
  transition: 0.5s ease;
}
#logo img:hover {
  opacity: 0.8;
}

#navbar-main .navigation-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navigation-links li {
  list-style: none;
}

.navigation-links a {
  color: var(--gray-100);
  text-decoration: none;

  padding: 0.5rem;
  transition: 0.5s;
}

.navigation-links a:hover {
  opacity: 0.8;
}

#search-and-show {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
}

#hero {
  height: 92vh;
  background: var(--black);

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-main {
  color: var(--white);
  font-weight: 600;
}

#hero h3 {
  font-weight: 500;
  font-size: 1.5rem;

  margin: 1rem 0;

  color: var(--white);
}

#hero a {
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;

  color: var(--blue-100);
}

#hero a:hover {
  text-decoration: underline;
}

#hero div .spacing-right {
  margin-right: 1.5rem;
}
